<!doctype html>
<html ng-app="drpMoviesApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="angularjs-controllers.js"></script>
	<script>
	function launchSearch() {
		alert("launch search");
	}
	function currentMovieSortChanged() {
		alert("movie sort changed");
	}
	</script>
</head>
<body ng-controller="MovieListController">
	<h1>DRP Movie Database AngularJS Client</h1>
	<div style="text-align:right;font-size:smaller;border-bottom:3px solid black;"><a href="index.html">back to top</a></div>

	<div id="controls">
		<form>
			<div>
				<input type="button" id="" value="Search..." onclick="launchSearch();"/>
				<label for="currentMovieSort">Sort:</label>
				<select name="currentMovieSort" id="currentMovieSort" onchange="currentMovieSortChanged()" ng-model="movieSort">
					<option value="title">Title</option>
					<option value="released">Release Date</option>
	 			</select>
	 			<span><a href="/ws/drpmovies/" target="_blank">Export Current Database</a></span>	
			</div>
		</form>
	</div>
	
	<div id="currentMovies">
		<div class='drpmovie' ng-repeat="drpMovie in currentMovies | orderBy:movieSort">
			<h3>{{drpMovie.title}}</h3>
			<!-- 
				movieHtml += "<span class='deletemovie'>";
					movieHtml += "<a onclick=\"doubleCheckDelete( '"+drpMovie.imdbId +"', '"+drpMovie.title +"');\" ><img src='./images/button-delete-icon.png' width='32' height='32'/></a>";
				movieHtml += "</span>";
				movieHtml += "<img class='poster' src='"+ drpMovie.posterURL +"'/>"
			 -->
			<table>
				<tr><th>Released</th><td>{{drpMovie.released}}</td></tr>
				<!-- 
				movieHtml += "<tr><th>Rated</th><td>" + drpMovie.rating +"</td></tr>";
				movieHtml += "<tr><th>Runtime</th><td>" + drpMovie.runtimeMinutes +" mins </td></tr>";
				movieHtml += "<tr><th>IMDB ID</th><td><a href='http://www.imdb.com/title/" + drpMovie.imdbId + "' target='_blank'>" + drpMovie.imdbId +"</a></td></tr>";
				 -->
			</table>
		</div>
  	</div>
</body>
</html>